@model MVC6Awakens.Models.Character

@{
    ViewData["Title"] = "Details";
}
@*Caching partial*@
<cache vary-by-route="id" expires-after="@TimeSpan.FromSeconds(60)" Enabled="false" >
    *last updated  @DateTime.Now

    <h2>Details</h2>

    <div>
        <h4>Character</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>
    <p>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </p>
</cache>
